@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-dark-800/60 backdrop-blur-xl border border-white/10 shadow-2xl;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0a0a0a;
  color: #fff;
  cursor: none !important;
}

* {
  cursor: none !important;
}
